<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="cacheEnabled" value="false" />
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	<!--类型别名 -->
	<typeAliases>
			<typeAlias type="com.pojo.JobIssue" alias="jobissue" />
			<typeAlias type="com.pojo.Department" alias="department" />
			<typeAlias type="com.pojo.Sign" alias="sign" />
	</typeAliases>
	<!-- <typeAliases>
		<typeAlias type="com.pojo.BookUser" alias="buser" />
		<typeAlias type="com.pojo.Book" alias="book"/>
	</typeAliases> -->
</configuration>
