<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.SalarySign">
	<!-- 薪酬标准登记 -->
	<insert id="addSalarySign" parameterType="sign">
			insert into Sign(salary_id,salary_strandname,sum_money,maker,signer,
			sign_time,basic_salary,
			jixiao_jiangjin,trans_help,relation_help,food_help,house_help,
			chuchai_help,working_help,check_status
			) 
			values(
			#{salary_id},#{salary_strandname},#{sum_money},#{maker},#{signer},
			#{sign_time},#{basic_salary},#{jixiao_jiangjin},#{trans_help},#{relation_help},#{food_help},
			#{house_help},#{chuchai_help},#{working_help},'审核中'
			)
	
	
	
	</insert>
	<!-- 薪酬复核查询 -->
	<select	id="getSignMessage" resultType="sign" >
			select * from Sign 
	</select>
	<!-- 薪酬复核修改 -->
	<update id="updateSign" parameterType="int">
			update Sign set compare=#{compare} where salary_id=#{salary_id}
	
	
	</update>
	<!-- 薪酬标准查询 -->
	<select id="getSigns" parameterType="sign" resultType="sign">
	
			select * from Sign where salary_id =#{salary_id} and check_status = #{check_status}
			
	</select>
	<!-- 薪酬标准删除 -->
	<delete id="delData" parameterType="int">
			delete from Sign where salary_id =#{salary_id}
	
	</delete>
	<!-- 薪酬标准修改查询 -->
	<select id="getData" parameterType="int" resultType="sign">
	
			select * from Sign where salary_id =#{salary_id}
	</select>

</mapper>