<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.IUserDao">
	<!-- 查询用户 -->
	<select id="getUserList" parameterType="int" resultType="com.pojo.Users">
		select * from  (select sys_user.*, rownum rownum_
		from sys_user
		where rownum &lt;=#{0} * #{1})
		where rownum_ &gt;( #{0}-1) * #{1}
				
	</select>
	<select id="getCount" resultType="int">
		select count(id) from sys_user
	</select>
	
	<!-- 添加用户 -->
	<insert id="addUsers" parameterType="com.pojo.Users">
		insert into sys_user values(sql1.nextval,#{usercode},#{username},#{password},#{salt},#{locked})
	</insert>
	
	<!-- 删除用户 -->
	<delete id="delUsers" parameterType="int">
		delete from sys_user where id=#{id}
	</delete>
	<!-- 修改用户 -->
	<update id="editUsers" parameterType="com.pojo.Users">
		update sys_user set usercode=#{usercode},username=#{username},
			password=#{password},salt=#{salt},locked=#{locked} where id=#{id}
	</update>
	
	<resultMap type="com.pojo.UserRole" id="getUserRole">
		<id column="id" property="id"/>
		<result column="user_id" property="user_id"/>
		<result column="role_id" property="role_id"/>
		<association property="users" javaType="com.pojo.Users" resultMap="getUsers"></association>
		<association property="role" javaType="com.pojo.Role" resultMap="getRole"></association>
	</resultMap>
	<resultMap type="com.pojo.Users" id="getUsers">
		<id column="id" property="id"/>
		<result column="usercode" property="usercode"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="locked" property="locked"/>
		<!-- <association property="com.pojo.UserRole" javaType="com.pojo.UserRole" resultMap="getUserRole"></association> -->
	</resultMap>
	<resultMap type="com.pojo.Role" id="getRole">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="available" property="available"/>
		<!-- <association property="com.pojo.UserRole" javaType="com.pojo.UserRole" resultMap="getUserRole"></association> -->
	</resultMap>
	
	<select id="getUsers" parameterType="com.pojo.Users" resultMap="getUserRole">
		select u.usercode,u.username,r.name from sys_user u inner join user_role ur on u.id = ur.user_id inner join sys_role r on r.id = ur.role_id 
			where usercode=#{usercode} and password=#{password}
	</select>
</mapper>